/* CSS - Site responsive - Desktop First - Systeme de Grille */

/* CSS - RESET */

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: '';
}

.clearfix:after {
    clear: both;
}

body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100vw;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #2c3e50;
}

button:focus {
    outline: none;
}

.hidden {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    pointer-events: none;
}

body {
    background-color: #f8f8f8;
    font-size: 14px;

}

header {
    background-color: #fff;
}

/*************************************************************************************************************************************/
/* GRILLE DESKTOP */
/*************************************************************************************************************************************/

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* on aligne les colonnes les unes à côté des autres avec la propriété float */
[class*="col-"] {
    float: left;
}

/* chaque rangée de colonnes doit être enveloppée dans une div de class "row". on applique un clear:both sur chaque row afin d'annuler l'effet de float et éviter que les éléments suivants remontent et entourent le "row" */
.row:after {
    content: "";
    clear: both;
    display: block;
}

/*************************************************************************************************************************************/
/* Navigation secondaire */
/*************************************************************************************************************************************/

#second_nav {
    display: flex;
    justify-content: space-around;
    background: #ecf0f1;
    padding: 2px 0 2px 0;
}

#second_nav .ico_color_fb:hover {
    color: #3B5998;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

#second_nav .ico_color_insta:hover {
    color: #EA5149;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

#second_nav .ico_color_fav:hover {
    color: #e6b800;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

#second_nav .ico_color_search:hover {
    color: #0C55B3;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

/*************************************************************************************************************************************/
/* Logo */
/*****************************************************************************/
#logo {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo p {
    font-family: 'Tangerine', cursive;
    font-size: 48px;
    padding: 20px 0 0 0;
}

#logo p:nth-child(2) {
    font-size: 34px;
    padding: 0 0 20px 0;
}

/*************************************************************************************************************************************/
/* Navigation principale */
/*****************************************************************************/

header nav ul {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}

header nav li {
    border-left: 1px solid #000000;
}

header nav li:first-child {
    border: none;
}

header nav a {
    padding: 20px;
}

.mobile-nav {
    display: none;
}

/*************************************************************************************************************************************/
/* FOOTER */
/*************************************************************************************************************************************/
footer {
    display: flex;
    justify-content: space-around;
    background-color: #ECF0F1;
    padding: 20px;
}

footer h4 {
    border-bottom: 1px solid #000;
    padding: 10px 0 10px 0;
    display: inline-block;
    width: 90%;
    margin-bottom: 10px;
    text-transform: uppercase;

}

.mobile_footer {
    display: none;
}

/*************************************************************************************************************************************/
/* Slider CSS */
/*****************************************************************************/

#overflow {
    width: 100%;
    overflow: hidden;
}

.inner {
    width: 500%;
}

.photo {
    width: 20%;
    float: left;
    position: relative;
}

.photo h3 {
    position: absolute;
    top: 30px;
    left: 30px;
    color: #FFFFFF;
    display: none; /*A retirer pour faire apparaitre la légende de la photo*/
}

.photo img {
    width: 100%;
}

input {
    display: none;
}

#slider1:checked ~ #slides .inner {
    margin-left: 0;
}

#slider2:checked ~ #slides .inner {
    margin-left: -100%;
}

#slider3:checked ~ #slides .inner {
    margin-left: -200%;
}

#slider4:checked ~ #slides .inner {
    margin-left: -300%;
}

#slider5:checked ~ #slides .inner {
    margin-left: -400%;
}

/* on applique une transition sur la div inner */

#slides .inner {
    transition: all 1s;
}

label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #d3dcde;
    cursor: pointer;
}

#active {
    display: flex;
    justify-content: center;

}

#active label {
    margin: 5px 10px 5px 10px;
}

/*************************************************************************************************************************************/
/*  MAIN  */
/***********************************/

main {
    background: #fff;
    display: flex;
    border-left: 2px solid #ecf0f1;
    border-right: 2px solid #ecf0f1;
    width: 80%;
    margin: 0 auto;
    padding: 20px 80px 20px 80px;
    line-height: 1.5em;
}

/*************************************************************************************************************************************/
/*  INDEX  */
/*****************************************************************************/

/************ Events  *********/

main .titre_main {
    margin-top: 40px;

}

main i {
    margin-right: 10px;
    display: inline;
}

main h2 {
    border-bottom: 1px solid #000;
    padding: 10px;
    display: inline-block;
    width: 90%;
    font-size: 20px;

}

main .event_lieu {
    display: flex;
    margin: 20px 0 10px 0;
    font-weight: 600;
}

main .event_lieu span {
    margin-left: 10px;
}

main .event_lieu span:before {
    content: "» ";
}

main .event_lieu span, main .event_lieu h3 {
    font-size: 14px;
}

/************ Dernières oeuvres  *********/

main figure {

    display: flex;
    align-items: flex-end;
    position: relative;
    margin-top: 20px;
}

main figure h3 {
    opacity: 0;
    background: rgba(236, 240, 241, 0.5);
    display: block;
    text-align: center;
    padding: 20px 0 20px 0;
    width: 100%;
    -webkit-transition: opacity 0.2s ease-in;
    -moz-transition: opacity 0.2s ease-in;
    -ms-transition: opacity 0.2s ease-in;
    -o-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    position: absolute;
}

main figure img:hover + h3 {
    opacity: 1;
}


/*************************************************************************************************************************************/
/* PAGE artiste */
/*************************************************************************************************************************************/

.artiste p {
    margin: 10px 0 10px 0;
    text-align: justify;
}

.artiste figure, .artiste article{
    margin-top:40px;
}







/*************************************************************************************************************************************/
/* PAGE Galery */
/*************************************************************************************************************************************/

/* Galery Content */

.content {
    padding: 1em 0 3em;
    max-width: 800px;
    margin: 0 auto;
}

/* Classes JS */

.grid {
    position: relative;
    margin: 0 auto;
}

.js .grid::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background: #ffffff; /*#252323 url(../img/loading.svg) no-repeat 50% 75px*/
    background-size: 60px auto;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.js .grid--loaded::after {
    opacity: 0;
}

.grid__item {
    width: 200px;
    padding: 10px;
}

.grid__item--current {
    opacity: 0 !important;
}

.img-wrap {
    display: block;
}

.img-wrap:focus,
.img-wrap:hover {
    outline: none;
}

.img-wrap img {
    display: block;
    max-width: 100%;
}

.preview {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    -webkit-align-content: center;
    align-content: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 50%;
    height: 100%;
    pointer-events: none;
}

.preview::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #ffffff; /*#1f1d1d*/
    -webkit-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.preview--open {
    pointer-events: auto;
}

.preview--open::before {
    opacity: 1;
}

.clone {
    position: fixed;
    z-index: 110;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-backface-visibility: hidden;
}

.original {
    position: relative;
    z-index: 120;
    display: block;
    object-fit: contain;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    -webkit-backface-visibility: hidden;
}

.preview--open .animate {
    /* open */
    -webkit-transition: -webkit-transform 0.6s, opacity 0.2s;
    transition: transform 0.6s, opacity 0.2s;
}

.animate {
    /* close */
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.description {
    color: #2c3e50;
}

.description--grid {
    display: none;
}

.description--preview {
    font-size: 2em;
    position: absolute;
    z-index: 140;
    width: 100%;
    left: 100%;
    top: 0;
    height: 100%;
    padding: 0 1em;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    opacity: 0;
    -webkit-transition: opacity 1s, -webkit-transform 1s;
    transition: opacity 1s, transform 1s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
}

.preview--open .description--preview {
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.description--preview h3 {
    font-weight: normal;
    margin: 0;
}

.description--preview p {
    font-size: 0.65em;
    max-width: 100%;
    margin-top: 20px;
}

.description--preview p em {
    color: #5D5D5D;
    display: block;
    padding: 0.4em 0 0 0;
}

/* Close button */

.action {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    cursor: pointer;
    vertical-align: top;
    color: #2c3e50;
    border: none;
    background: none;
}

.action:hover,
.action:focus {
    color: #6bd68a;
    outline: none;
}

.action--close {
    position: fixed;
    z-index: 150;
    top: 0;
    right: 0;
    padding: 1em;
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: scale3d(0.6, 0.6, 1);
    transform: scale3d(0.6, 0.6, 1);
}

.preview--image-loaded .action--close {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.text-hidden {
    position: absolute;
    display: block;
    overflow: hidden;
    width: 0;
    height: 0;
    color: transparent;
}

@media screen and (max-width: 40em) {
    .description--preview h3 {
        font-size: 0.5em;
    }

    .description--preview p,
    .details {
        display: none;
    }
}

/*************************************************************************************************************************************/
/* SMALL DEVICES - Version Mobile - Viewport until 768px */
/*************************************************************************************************************************************/
@media only screen and (max-width: 768px) {

    /* on aligne les colonnes les unes à côté des autres avec la propriété float */
    [class*="col-"] {
        float: left;
    }

    /* chaque rangée de colonnes doit être enveloppée dans une div de class "row". on applique un clear:both sur chaque row afin d'annuler l'effet de float et éviter que les éléments suivants remontent et entourent le "row" */
    .row:after {
        content: "";
        clear: both;
        display: block;
    }

}

/*************************************************************************************************************************************/
/* MEDIUM DEVICES - Version Tablet - Viewport until 960px */
/*************************************************************************************************************************************/
@media only screen and (max-width: 960px) {
    .col-m-1 {
        width: 8.33%;
    }

    .col-m-2 {
        width: 16.66%;
    }

    .col-m-3 {
        width: 25%;
    }

    .col-m-4 {
        width: 33.33%;
    }

    .col-m-5 {
        width: 41.66%;
    }

    .col-m-6 {
        width: 50%;
    }

    .col-m-7 {
        width: 58.33%;
    }

    .col-m-8 {
        width: 66.66%;
    }

    .col-m-9 {
        width: 75%;
    }

    .col-m-10 {
        width: 83.33%;
    }

    .col-m-11 {
        width: 91.66%;
    }

    .col-m-12 {
        width: 100%;
    }

    /********** MAIN ***********/
    main {
        padding: 20px;
        width: 100%;
    }

    /********** INDEX ***********/
    main figure {
        box-shadow: none;

    }

    main figure img { /* On centre les images dans leur colonne*/
        display: block;
        margin: auto;

    }

    main figure h3 {
        display: none;

    }

}

/*************************************************************************************************************************************/
/* SMALL DEVICES - Version mobile - Viewport until 768px */
/*************************************************************************************************************************************/
@media only screen and (max-width: 768px) {
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }

    [class*="col-"] {
        float: none;
        padding: 0 15px;
    }

    /************************* Nav principale ************************/
    #menu_normal {
        display: none;
    }

    .mobile-nav {
        display: block;
        background: #ECF0F1;
        cursor: pointer;
    }

    /*on enlève le float sur les liens du menu et on applique une largeur de 100% */
    header li {
        float: none;
        width: 100%;
        border-left: 0 solid #fff !important;
        /*on élimine la bordure gauche*/
        border-top: 1px solid #FFF;
        list-style: none;
    }

    /*on justifie à gauche les liens */
    .responsive-menu li a {
        display: block;
        height: 50px;

        text-align: left;
        width: 100%;

        text-decoration: none;
        padding: 15px;
    }

    .responsive-menu li:hover {
        background: #d3dcde;
    }

    .menu-btn, .menu-btn-contact, .menu-btn-ml, #rs_footer  {
        padding: 6px;
        display: flex;
        height: 50px;

    }

    .menu-btn-contact, .menu-btn-ml, #rs_footer {
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #999999;
    }

    /*on cache le menu par défaut*/
    .responsive-menu {
        display: none;
    }

    /*on affiche le menu qd l'utilisateur clique sur le hamburger, on ajoute la classe expand en jQuery*/
    .expand {
        display: block !important;
    }

    /********************************** HEADER  ***********************/

    #logo p:last-child, #second_nav{
        display: none;

    }

    #logo p:first-child {
        font-size:62px;
        padding:10px 0 10px 0;
    }


    /********************************** Main  ***********************/
    main section {
        padding: 0;
    }

    figure {
        margin: 0;
    }

    /********************************** FOOTER  ***********************/
    #footer_base {
        display: none;
    }

    .mobile_footer {
        display: block;
        background: #ECF0F1;
    }

    .menu-btn-ml h4, .menu-btn-contact h4 {
        margin-left: 10px;
        font-size: 24px;
    }

    /*on cache le menu par défaut*/
    .responsive-ml, .responsive-contact {
        display: none;
    }

    /*on affiche le menu qd l'utilisateur clique sur le hamburger, on ajoute la classe expand en jQuery*/
    .expand {
        display: block !important;

    }

    #contenu_footer p {
        text-align: center;
    }

    #rs_footer i {
        margin:0 10px 0 10px
    }


        /************************************* INDEX *********************/
    #slider {
        display: none;
    }

}
    
    
