/* CSS - Site responsive - Mobile First - Systeme de Grille */

/* CSS - RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #2c3e50;
}


/* SYSTEME DE GRILLES */

/*************************************************************************************************************************************/
/* SMALL DEVICES - Version Mobile - Viewport until 768px */
/*************************************************************************************************************************************/
/* on aligne les colonnes les unes à côté des autres avec la propriété float */
[class*="col-"] {
    float: left;
}

/* chaque rangée de colonnes doit être enveloppée dans une div de class "row". on applique un clear:both sur chaque row afin d'annuler l'effet de float et éviter que les éléments suivants remontent et entourent le "row" */
.row:after {
    content: "";
    clear: both;
    display: block;
}
/*************************************************************************************************************************************/
/* MEDIUM DEVICES - Version Tablet - Viewport until 960px */
/*************************************************************************************************************************************/
@media only screen and (min-width: 769px) {
    .col-m-1 {
        width: 8.33%;
    }

    .col-m-2 {
        width: 16.66%;
    }

    .col-m-3 {
        width: 25%;
    }

    .col-m-4 {
        width: 33.33%;
    }

    .col-m-5 {
        width: 41.66%;
    }

    .col-m-6 {
        width: 50%;
    }

    .col-m-7 {
        width: 58.33%;
    }

    .col-m-8 {
        width: 66.66%;
    }

    .col-m-9 {
        width: 75%;
    }

    .col-m-10 {
        width: 83.33%;
    }

    .col-m-11 {
        width: 91.66%;
    }

    .col-m-12 {
        width: 100%;
    }

    /* on aligne les colonnes les unes à côté des autres avec la propriété float */
    [class*="col-"] {
        float: left;
    }

    /* chaque rangée de colonnes doit être enveloppée dans une div de class "row". on applique un clear:both sur chaque row afin d'annuler l'effet de float et éviter que les éléments suivants remontent et entourent le "row" */
    .row:after {
        content: "";
        clear: both;
        display: block;
    }
}
/*************************************************************************************************************************************/
/* LARGE DEVICES - Version Desktop */
/*************************************************************************************************************************************/
@media only screen and (min-width: 960px) {

    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }

    /* on aligne les colonnes les unes à côté des autres avec la propriété float */
    [class*="col-"] {
        float: left;
    }

    /* chaque rangée de colonnes doit être enveloppée dans une div de class "row". on applique un clear:both sur chaque row afin d'annuler l'effet de float et éviter que les éléments suivants remontent et entourent le "row" */
    .row:after {
        content: "";
        clear: both;
        display: block;
    }
}